@use "sass:map";
@import "axdd-components/src/assets/css/custom";

// https://getbootstrap.com/docs/5.0/customize/options/
// TODO: enable bootstrap options for the app
// $enable-cssgrid: true;
// $enable-gradients: true;

// app custom colors
$custom-colors: (
  "test": red,
);

// bootstrap + axdd-components + app custom colors
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

// additional non-bootstrap styles

.blah {
  color: purple;
}

// import bootstrap and bootstrap-icons
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
